# Node modules
node_modules

# Debug log files
npm-debug.log

# Docker files
Dockerfile
docker-compose.yml

# Dist folder (if you have one)
dist

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp
*.tmp

# IDE settings (e.g., Visual Studio Code)
.vscode
.idea

# Operating system files
.DS_Store
Thumbs.db
